/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
    /***** font refs 
  
   font-family: 'Raleway', sans-serif;
   font-family: 'Open Sans', sans-serif;
****/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** BASE STYLES *****/

   html{
    font-size: 16px;
   }

   body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #243b6e;
    background-color:#D7E0DF;
    text-align: left;
    }

    html, body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x:hidden;
    }
/***** GRID AND BASIC STYLES*****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}

a{
    color:#243b6e;
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
    font-size: 1.2em;
}
.content-wrapper{
    width:90%;
    margin: 0;
    padding: 0;
}

figure{
   margin:0;
}

img{
    width:100%;
    height: auto;
    }

.responsive{
    width: 100%;
    height: auto;
    }

/******** HEADER ********/
header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    }

header .hero-area{
    background:url('../img/blue-flowers.jpg');
    min-height: 600px;
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    }

header h1{
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4em;
    font-weight: 700;
    color: #243b6e;
    letter-spacing: 3.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-transform: uppercase;
    margin: 0px;
    border-top: 2px solid #243b6e;
    border-bottom: 2px solid  #243b6e;
    }

    header .title-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        color:#ffffff;
    }
    
    header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        font-size: 1em;
        font-weight: normal;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    header nav ul li{
        font-size: 1.2em;
    }
    
    h2{
        font-family: 'Satisfy', cursive;
        font-size: 2em;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
   }

   h3{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
   }

   h5{
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
}
/*****  ABOUT *****/

.about{
    background: #50808E;
    color:#ffffff;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/***** FOOTER *****/

footer{
    background-color: #151E3f;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    }

.social-icon a, p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    padding-left: 15px;
    padding-right: 15px;   
    }  

/****MOBILE STYLES****/

header h1{
    color: #151E3F;
}

a{
    color: #151e3f;
}
/*****MOBILE PORTFOLIO SECTION*****/

.portfolio{
    display: flex;
    flex-flow: column nowrap;
}

.content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    }

h4{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    
p{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin: 0;
    text-align:center;
    }
/***** MOBILE FOOTER SECTION*****/
.contact-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    }
    
.contact-mail h3{
    text-align: center;
    width: 75%;}


.contact-social{
    text-align: center;
    }
    


    /* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:768px) {

/*****TABLET STYLES HERE *****/

/*****TABLET HEADER*****/
header .hero-area{
    background-position: center;
}

header h1{
    font-size: 2.7em;
    font-weight: 700;
    color: #243B6E;
    letter-spacing: 6.7px;
    border-top: 2.5px solid #243b6e;
    border-bottom: 2.5px solid  #243b6e;
    }

/*****TABLET PORTFOLIO SECTION*****/
article{
    font-size: 1.3em;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    }

article p{
    text-align: justify;
    width: 80%;
    line-height: 30px;
}

/*****TABLET ABOUT SECTION*****/
.about h2{
    padding-top: 0px;
}

.about p{
    font-size: 1.35em;
    width: 80%;
    text-align: justify;
    line-height: 30px;
}
/***** TABLET FOOTER*****/

.social-icon a{
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (min-width:1200px){
    /***** DESKTOP STYLES *****/

/***** DESKTOP PORTFOLIO*****/

.portfolio{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

.portfolio-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
}

#project-2{
    flex-direction: row-reverse
}

article{
    width: 50%;
}

figure{
    width: 50%;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

    /*****DESKTOP FOOTER*****/
.footer-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}
.contact-mail{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
}

.contact-social{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}