
@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body{
    color: black;
    font-family: 'Monserrat', sans-serif;
}

/*****GRID*****/

.full-width{
    width:1200px;
    margin: 0 auto;
}

.half-width{
    width:600px;
    float:left;
}
.third-width{
    width:390px;
    float:left;
    padding-top: 30px;
    margin: 0 auto;
    height: 210px;
    border-top: 1px solid #b1abab;
    border-bottom: 1px solid #b1abab;
}

#third-width-borders{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
/*****HEADER*****/
header{
    height:100px;
    padding: 20px;
    
}
header h1{
    font-family: 'Monserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:bold;
}
header h1 span{
    color:#77a466;
}
nav{
    float: right;
    padding: 15px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color:#77a466;
    font-size: 16px;
    padding-left: 10px;
    font-weight: bold;
}
/*****IMAGE*****/
#about img#main-image{
    border-bottom: 5px solid #77a466;
    border-top: 5px solid #77a466;
}
#about h2{
    color:#77a466;
    font-size: 20px;
    text-transform: uppercase;
    padding-top:30px;
}
#about p{
    font-size: 17px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*****MENU*****/

#menu .third-width{
}


#menu .h3specials{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    vertical-align:top;
}
#menu .specials{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

#menu .h3reviews{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 30px;
}
#menu ul{
    list-style: none;
    color: #77a466;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding:0; 
    border-left:none;
}
#menu p{
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    padding:5px 40px 20px 30px;
}

#footer{
    clear:both;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
h2 span{
    font-family:'Wisdom Script', cursive;
    font-weight:bold;
    color: #77a466;
    text-transform: lowercase;
    font-size: 24px;
    word-spacing: 2px;
}